In [6]:
import pandas as pd
data = pd.read_csv('all_events_with_metadata.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913042 entries, 0 to 2913041
Data columns (total 16 columns):
Unnamed: 0      int64
device_id       int64
gender          object
age             int64
group           object
phone_brand     object
device_model    object
event_id        float64
timestamp       object
longitude       float64
latitude        float64
app_id          float64
is_installed    float64
is_active       float64
label_id        float64
category        object
dtypes: float64(7), int64(3), object(6)
memory usage: 355.6+ MB

In [7]:
print(data.describe(include='all'))
data.head()

/Users/brad/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

          Unnamed: 0     device_id   gender           age    group  \
count   2.913042e+06  2.913042e+06  2913042  2.913042e+06  2913042
unique           NaN           NaN        2           NaN       12
top              NaN           NaN        M           NaN     M39+
freq             NaN           NaN  2069488           NaN   659204
mean    1.456520e+06  9.517762e+16      NaN  3.509087e+01      NaN
std     8.409229e+05  5.370483e+18      NaN  1.053330e+01      NaN
min     0.000000e+00 -9.223067e+18      NaN  1.000000e+00      NaN
25%     7.282602e+05 -4.551768e+18      NaN  2.700000e+01      NaN
50%     1.456520e+06 -1.812348e+17      NaN  3.300000e+01      NaN
75%     2.184781e+06  4.936063e+18      NaN  4.100000e+01      NaN
max     2.913041e+06  9.221152e+18      NaN  9.600000e+01      NaN

       phone_brand device_model      event_id            timestamp  \
count      2913042      2913042  2.896762e+06              2896762
unique         101         1112           NaN               205458
top             华为          荣耀6           NaN  2016-05-01 21:27:12
freq       1058715       297431           NaN                  305
mean           NaN          NaN  1.627545e+06                  NaN
std            NaN          NaN  9.407644e+05                  NaN
min            NaN          NaN  3.000000e+00                  NaN
25%            NaN          NaN           NaN                  NaN
50%            NaN          NaN           NaN                  NaN
75%            NaN          NaN           NaN                  NaN
max            NaN          NaN  3.252902e+06                  NaN

           longitude      latitude        app_id  is_installed     is_active  \
count   2.896762e+06  2.896762e+06  2.747844e+06     2747844.0  2.747844e+06
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    4.701352e+01  1.291276e+01  1.087623e+18           1.0  3.873044e-01
std     5.665044e+01  1.594137e+01  5.250002e+18           0.0  4.871343e-01
min    -1.800000e+02 -2.031000e+01 -9.218488e+18           1.0  0.000000e+00
25%              NaN           NaN           NaN           NaN           NaN
50%              NaN           NaN           NaN           NaN           NaN
75%              NaN           NaN           NaN           NaN           NaN
max     1.318700e+02  5.126000e+01  9.222488e+18           1.0  1.000000e+00

             label_id      category
count   119823.000000        119823
unique            NaN           108
top               NaN  Industry tag
freq              NaN          9771
mean       635.183546           NaN
std        247.951428           NaN
min         13.000000           NaN
25%               NaN           NaN
50%               NaN           NaN
75%               NaN           NaN
max       1014.000000           NaN

,Unnamed: 0,device_id,gender,age,group,phone_brand,device_model,event_id,timestamp,longitude,latitude,app_id,is_installed,is_active,label_id,category
0,0,-8076087639492063270,M,35,M32-38,小米,MI 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,-2897161552818060146,M,35,M32-38,小米,MI 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,-8260683887967679142,M,35,M32-38,小米,MI 2,2479656.0,2016-05-01 14:23:37,0.0,0.0,4.287147e+18,1.0,0.0,NaN,NaN
3,3,-8260683887967679142,M,35,M32-38,小米,MI 2,2479656.0,2016-05-01 14:23:37,0.0,0.0,-4.085687e+18,1.0,0.0,NaN,NaN
4,4,-8260683887967679142,M,35,M32-38,小米,MI 2,2479656.0,2016-05-01 14:23:37,0.0,0.0,6.324195e+18,1.0,0.0,NaN,NaN

In [9]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

data.groupby('gender')['age'].mean()

gender
F    35.391056
M    34.968516
Name: age, dtype: float64

In [27]:
model = LogisticRegression()
age =  data['age']
gender = data['gender']
print(age.shape)
print(gender.shape)
age = np.reshape(age,(age.shape[0], 1))
print(age.shape)

model.fit(age, gender)
print(model.predict(30))


#model.fit(data['age'], data['gender'])

(2913042,)
(2913042,)
(2913042, 1)
['M']

In [23]:
np.reshape?